.dropdown{
    font-size: 15px;
}

/* label, label{
    display:block;
} */

/* #rds-groupby button{
    background-color:#1a8fbf;
} */

button.btn-secondary:last-child{
    background-color: #b62020;
}

button.btn-secondary:first-child{
    background-color: #1a8fbf;
}