{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}QCArchive{% endblock %}

{% block navbar %}
     {% include 'partials/navbar.html' %}
{% endblock -%}

{% block page_content %}

    <ul>
    {% for app in apps %}
      <li><a href="{{ app.link }}">{{ app.name }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}

{%- block footer %}
    {% include 'partials/footer.html' %}
{% endblock -%}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
